.title {
  text-align: center;
}

.column-container {
  display: flex;
}

.column {
  --column-padding: 35px;
  padding: 0 var(--column-padding);
  width: calc(var(--question-card-width) + var(--column-padding) * 2);
}

.column:first-child {
  border-right: 1px solid black;
}

.column-container::ng-deep .mat-headline-4,
.mat-typography .mat-headline-4 {
  margin: 0;
  margin-bottom: 15px;
}

.card-wrapper {
  margin-bottom: 20px;
}
