.options {
  margin-bottom: 15px;
}

.list {
  max-width: 100%;
  --mdc-list-list-item-one-line-container-height: 60px;
}

.list-item {
  border: 1px solid black;
  border-bottom: none;
}

.list-item:last-child {
  border-bottom: 1px solid black;
}

.list-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-options {
  display: flex;
  align-items: center;
}

.question-info {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.date {
  opacity: 0.8;
}

.text {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
  .text {
    max-width: 300px;
  }
}
