<div [class.mat-elevation-z3]="true">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title">{{ question?.text }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="radio-group-container">
        <mat-checkbox
          *ngFor="let option of question?.options; index as i"
          [disabled]="question?.answeredAt || false"
          [(ngModel)]="answers[i]"
        >
          {{ option }}
        </mat-checkbox>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="question?.answeredAt; else unanswered">
      <button mat-stroked-button color="warn" (click)="onRollback()">
        Rollback
      </button>
    </mat-card-actions>
    <ng-template #unanswered>
      <mat-card-actions *ngIf="isSomeAnswerSelected">
        <button mat-raised-button color="primary" (click)="onAnswer()">
          Answer
        </button>
      </mat-card-actions>
    </ng-template>
  </mat-card>
</div>
